<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger':loveIts < 0}">


  <p style="text-align: right; color: grey">{{ date}}</p>

  <h4 [ngStyle]="{color: getColor()}" >{{ title }} </h4>
  <h6 [ngStyle]="{color: getColor()}" >{{content}}</h6>
  <button class="btn btn-success"
  (click)="onLoveIt()">Love it!</button>
  <button class="btn btn-danger"
  (click)="onDoNotLoveIt()">Don't love it!</button>


  <button class="btn btn-danger pull-right" (click)="onSuppress()"> Suppress </button>
</li>
