<div class="container">
  <h1>New Post :</h1>
  <form  [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" id="content" class="form-control" formControlName="content">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p class="p-info-new-post" *ngIf="formStatus === 'disabled'">Il faut remplir le formulaire avant de valider !</p>
</div>
